
.main-paralax {
  $color: rgba(#292D2E, 0.6);
  height: 510px;
  background-image: linear-gradient(90deg, $color 0%, $color 100%),
  url("../images/banner-paralax.jpg");
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.main-paralax-title {
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  font-family: 'Poiret One', sans-serif;
  font-weight: normal;
  margin: 0;
}
.main-paralax-title span {
   color: $colorPrimary;
}

.main-paralax-text {
  font-size: 19px;
  color: rgba(white, 0.35);
  text-align: center;
  margin-top: 65px;
  max-width: 840px;
}



.main-love-music {
  min-height: 400px;
}
