.main-love-music.container  {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 110px;
  padding-bottom: 110px;
  position:relative;

  &:before {
    content: '';
    position:absolute;
    top: -40px;
    left: -750px;
    width: 1000px;
    height: 1000px;
    background-color: rgba(grey, 0.5);
    border-radius: 200px;
    transform: rotate(45deg);
    overflow: hidden;
  }
}

.main-love-music__row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 85px;
  position: relative;
}
.main-love-music__row-col {
  width: (100/3)*1%;
  height: 100%;
  padding: 0 15px;

}
.main-love-music__row-col__box-photo {
  position: relative;
}

.main-love-music__row-col__description p {
  max-width: 300px;
}

